body {
    margin: 0px;
}
nav {
    background-color: #51ff00; /* Background color of the navigation bar */
    color: #ffffff; /* Text color */
    font-family: Arial, sans-serif; /* Font family */
    
    padding: 25px;
}

.nav-title {
    display: flex;
    gap: 6px;
}
.beetwen {
    justify-content: space-between; 
}
.container {
    max-width: 1200px; /* Maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 10px 20px; /* Add some padding to the container */
    display: flex; /* Use flexbox for layout */
    flex-direction: row-reverse;
    justify-content: space-between; /* Space elements evenly in the container */
    align-items: center; /* Center items vertically */
}
.container>p {
    display: block;
    height: fit-content;
}
@media screen and (max-width: 560px) {
    .container {
        flex-direction: column;
    }
}
/* Style the logo */
img {
    height: 40px; /* Adjust the height as needed */
}

/* Style the navigation links */
ul {
    list-style-type: none; /* Remove bullet points */
    display: flex; /* Use flexbox for layout */
}

li {
    margin-right: 20px; /* Add some space between list items */
}

a {
    text-decoration: none; /* Remove underlines from links */
    color: #fff; /* Text color for links */
    font-weight: bold; /* Make the text bold */
    transition: color 0.3s; /* Add a smooth color transition on hover */
}

.peper img{
    width: 150px;
    height: 150px;
}